Repository inokappa/circleci-playground: changes, and which CircleCI parameters are due for each by the changed paths.
All: job1, job2, job3

try path filtering
  .circleci/config.yml
Due: none

aaa
  .circleci/config.yml
Due: none

aaa
  test.txt
Due: none

add jobs
  job1/.gitkeep
  job2/.gitkeep
  job3/.gitkeep
Due: job1, job2, job3

update job1
  job1/test.txt
Due: job1

update
  .circleci/continue-config.yml
  .gitignore
  deploy
Due: none

update
  .circleci/continue-config.yml
Due: none

update
  job2/test.txt
Due: job2

update
  README.md
Due: none

update
  .circleci/continue-config.yml
  job1/test.txt
  job3/test.txt
Due: job1, job3

Path conditions:
  job1: any of: job1/.*
  job2: any of: job2/.*
  job3: any of: job3/.*
